.home-container[b-kdgeq29nbo] {
    opacity: 0;
    height: 100vh;
    overflow: hidden;
}

.for-padding[b-kdgeq29nbo]{
    position: relative;
    padding: 2% 2% 2% 2%;
    display:flex;
    height: 100%;
}

.inputs-container[b-kdgeq29nbo]{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}

.inputs[b-kdgeq29nbo]{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    width: 50%;
}

.inputs label[b-kdgeq29nbo]{
    font-size: 13px;
    margin: 10px 0;
}

.inputs input[b-kdgeq29nbo], textarea[b-kdgeq29nbo] {
    background: none;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px -2px rgba(0,0,0,0.5), inset -2px -2px 4px -2px rgba(255,255,255,0.5);
    width: 100%;
    color: white;
    padding: 10px;
    font-family: "Outfit", sans-serif;
    transition: box-shadow 1s ease;
}

.inputs input:focus[b-kdgeq29nbo], textarea:focus[b-kdgeq29nbo]{
    outline: none;
    box-shadow: inset 0 0 1px 2px red;
}

input[type="number"][b-kdgeq29nbo]::-webkit-inner-spin-button,
input[type="number"][b-kdgeq29nbo]::-webkit-outer-spin-button {
    background: red; 
    border-radius: 4px;
}

.title-top[b-kdgeq29nbo]{
    width: 100%;
    padding: 0 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    color: #fffff0;
    margin-bottom: 100px;
}

.title-top h5[b-kdgeq29nbo] {
    font-style: italic;
    font-weight: 300;
    font-size: clamp(1rem, 1.3vw, 2rem);
}

.title-top h1[b-kdgeq29nbo] {
    font-weight: 700;
    font-size: clamp(3rem, 2.5vw, 3.5rem);
    background: linear-gradient(to right, #ff3e00, #930000);
    background-size: 400px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.title-top h3[b-kdgeq29nbo] {
    font-weight: 300;
    font-size: clamp(1.2rem, 1.7vw, 2.2rem);
}

.data-container[b-kdgeq29nbo]{
    width: 100%;
}

table[b-kdgeq29nbo] {
    width: auto; 
    table-layout: auto; 
    border-collapse: collapse;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

td[b-kdgeq29nbo], th[b-kdgeq29nbo] {
    padding: 8px;
    border: 1px solid #ccc;
}

.hamburger[b-kdgeq29nbo] {
    padding: 10px;
    transform: rotate(-90deg);
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.hamburger.collapsed[b-kdgeq29nbo] {
    transform: rotate(0deg);
}

.hamburger li[b-kdgeq29nbo]{
    margin-bottom: 5px;
}

.side-list button[b-kdgeq29nbo]{
    height: fit-content;
    text-wrap: nowrap;
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
}

.side-list li:first-child[b-kdgeq29nbo]{
    background: none;
}

.button-container[b-kdgeq29nbo]{
    position: absolute;
}

ul[b-kdgeq29nbo]{
    width: 100%;
}
ul li[b-kdgeq29nbo]{
    text-align: center;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    opacity: 0;
    margin-bottom: 10px;
    transition: background 0.5s ease;
}

ul li:hover[b-kdgeq29nbo]{
    background: #151515;
    color: white;
    cursor: pointer;
}

.main-list[b-kdgeq29nbo] {
    padding: 20px 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.5);
    transition: width 0.5s ease, padding 0.5s ease, box-shadow 0.5s ease;
    white-space: nowrap;
    background: #8456f1; /* just to see it */
    width: 14%;
    margin-right: 1%;
}

    .main-list.collapsed[b-kdgeq29nbo] {
        box-shadow: 4px 0 4px 1px rgba(0,0,0,0);
        padding: 20px 0;
        width: 0; /* visually hides without affecting side-list width */
    }

.side-list[b-kdgeq29nbo] {
    padding: 20px 10px;
    background: #8456f1;
    border-radius: 20px 0 0 20px;
    width: 6%;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.5);
    transition: border-radius 0.5s ease;
}

.side-list.collapsed[b-kdgeq29nbo] {
    transition-delay: 0.5s;
    border-radius: 20px;
}

.main-container[b-kdgeq29nbo] {
    background: #151515;
    box-shadow: 0 0 4px 3px rgba(0,0,0,0.5);
    overflow: hidden;
    height: 100%;
    width: 80%;
    transition: width 0.5s ease, border-radius 0.5s ease;
    border-radius: 0 20px 20px 0;
}

.main-container.collapsed[b-kdgeq29nbo] {
    border-radius: 20px;
    width: 100%;
}

.add-budget[b-kdgeq29nbo] {
    height: 100%;
    background-color: #28282b;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.file-upload[b-kdgeq29nbo]{
    width: 35%;
    font-family: "Montserrat", sans-serif;
}

.upload-btn img[b-kdgeq29nbo]{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.upload-btn[b-kdgeq29nbo] {
    display: flex;
    padding: 8px 16px;
    height: 100%;
    background-color: #28282b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
}

textarea[b-kdgeq29nbo]{
    resize: none;
    height: 200px !important;
    width: 100%;
}
.submit-forms[b-kdgeq29nbo]{
    margin-top: auto;
    width: 100%;
    text-align: center;
    height: auto;
    height: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-forms button[b-kdgeq29nbo]{
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    width: 200px;
    margin: 0 20px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    transition: transform 0.5s ease;
}

.submit-forms button:hover[b-kdgeq29nbo]{
    transform: scale(1.03);
}

.submit-forms button:first-child[b-kdgeq29nbo] {
    background: #aa0000;
    border: none;
}

.submit-forms button:nth-child(2)[b-kdgeq29nbo]{
    background: #4d7eff;
    border: none;
}

.section-headers[b-kdgeq29nbo]{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.section-headers h1[b-kdgeq29nbo]{
    font-family: "Outfit", sans-serif;
    font-size: 35px;
}

.line[b-kdgeq29nbo]{
    width: 100%;
    background: orange;
    height: 8px;
}
.see-data[b-kdgeq29nbo] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #28282b;
    color: white;
    height: 100%;
}
.see-data .scroll-visuals[b-kdgeq29nbo] {
    height: 90%;
    background-color: #28282b;
    color: white;
    display: flex;
    gap: 20px;
    overflow: hidden;
    position: relative;
}

.see-navigations[b-kdgeq29nbo]{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 50%;
    padding: 4px 20px;
    gap: 20px;
    background: #b0b0b0;
    box-shadow: 0 0 4px 2px black;
    margin-bottom: 20px;
    border-radius: 20px;
}

i[b-kdgeq29nbo] {
    font-size: clamp(1rem, 2vw, 3rem);
    color: white;
    background: #3a3a3f;
    padding: 10px;
    border-radius: 50%;
    width: fit-content;
    aspect-ratio: 1/1;
    border: none;
    transition: transform 0.5s ease;
}

.see-navigations button[b-kdgeq29nbo]{
    border: none;
    background: none;
    
}

i:hover[b-kdgeq29nbo]{
    transform: scale(1.1);
}

.testing[b-kdgeq29nbo] {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.data-container[b-kdgeq29nbo] {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1; /* prevent shrinking */
    /* width can be auto or fixed */
}

.main-charts-container[b-kdgeq29nbo]{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}