h3[b-skfnkhgaa4]{
    color: white;
}

.intro-container[b-skfnkhgaa4] {
    background: linear-gradient(to bottom, #151515, #8e00ff, #4b0082, #8e00ff, #151515) !important;
    height: fit-content;
    padding: 50px 0px;
}

.container-money[b-skfnkhgaa4] {
    position: relative; /* so absolute children position relative to this */
    height: fit-content; /* no forced height */
    width: 100%;
}

.about[b-skfnkhgaa4] {
    height: 200vh;
    width: 100%;
}

.intro-container h1[b-skfnkhgaa4] {
    width: 100%;
    font-weight: 900;
    font-family: "League Spartan", sans-serif;
    font-size: clamp(5rem, 10vw, 7rem);
    text-align: center;
    margin-top: 1%;

}

.taglines[b-skfnkhgaa4]{
    color: #fffff0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    position: absolute; 
    width: 100%;
    height: 100vh; 
    z-index: 1001;
    pointer-events: none;
}

.taglines button[b-skfnkhgaa4]{
    background: linear-gradient(to bottom right, #8e00ff, #4b0082);
    padding: 10px 30px;
    border: none;
    outline: none;
    color: #fffff0;
    margin-top: 20px;
    border-radius: 20px 0 20px 0;
    width: fit-content;
    box-shadow: 0 0 10px 4px white;
    transition: transform 0.5s ease;
    pointer-events:auto;
}

.taglines button:hover[b-skfnkhgaa4]{
    transform: scale(1.03);
}

.taglines h5[b-skfnkhgaa4]{
    font-style: italic;
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 1.2rem);
    margin-bottom: 2%;
}

.taglines h3[b-skfnkhgaa4]{
    font-size: clamp(1rem, 2.2vw, 1.5rem);

}
.stationary[b-skfnkhgaa4]{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1002;
    overflow-x: clip;
   pointer-events: none;
}

.parallax[b-skfnkhgaa4]{
    position: relative;
    height: 100vh;
    pointer-events: none;
}

.stationary img[b-skfnkhgaa4] {
    position: absolute;
    width: 15%;
    height: auto;
    user-select: none;
    transition: transform 0.3s ease;
    z-index: 200;
    filter: drop-shadow(5px 5px 5px rgba(255,255,255,0.7));
}

.parallax img[b-skfnkhgaa4] {
    position: absolute;
    width: 10%;
    height: auto;
    user-select: none;
    transition: transform 0.3s ease;
    z-index: -1;
    filter: blur(3px);
}

.money-1[b-skfnkhgaa4] {
    top: 10%;
    left: -5%;
    transform: rotate(25deg);
}

.money-2[b-skfnkhgaa4] {
    top: 40%;
    left: 3%;
    transform: rotate(-15deg);
}

.money-3[b-skfnkhgaa4] {
    bottom: 0%;
    left: 5%;
    transform: rotate(10deg);
}

.money-4[b-skfnkhgaa4] {
    top: 85%;
    right: -10%;
    transform: rotate(-30deg);
}

.money-5[b-skfnkhgaa4] {
    top: 50%;
    right: -5%;
    transform: rotate(20deg);
}


.money2-1[b-skfnkhgaa4] {
    top: 10%;
    left: 20%;
    transform: rotate(25deg);
}

.money2-2[b-skfnkhgaa4] {
    top: 10%;
    right: 10%;
    transform: rotate(-15deg);
}

.money2-3[b-skfnkhgaa4] {
    top: 70%;
    left: 40%;
    transform: rotate(10deg);
}

.money2-4[b-skfnkhgaa4] {
    top: 85%;
    left: 70%;
    transform: rotate(-30deg);
}

.money2-5[b-skfnkhgaa4] {
    top: 50%;
    left: 80%;
    transform: rotate(20deg);
}