@page "/"

<main class="intro-container">
    <div class="taglines">
        <h5>Your money, finally making sense.</h5>
        <h3>Introducing</h3>
        <h1>MONEYMASTER</h1>
        <p>Track it. Grow it. Enjoy it — without the boring finance jargon.</p>
    </div>
    <section class="container-money">
        
        <div class="stationary">
            <img src="/img/money.png" class="money-1" />
            <img src="/img/money.png" class="money-2" />
            <img src="/img/money.png" class="money-3" />
            <img src="/img/money.png" class="money-4" />
            <img src="/img/money.png" class="money-5" />

        </div>
        <div class="parallax">
            <img src="/img/money.png" class="money2-1" />
            <img src="/img/money.png" class="money2-2" />
            <img src="/img/money.png" class="money2-3" />
            <img src="/img/money.png" class="money2-4" />
            <img src="/img/money.png" class="money2-5" />
        </div>
    </section>

    <section class="about">
        <h1>this project is blabla</h1>
        <button @onclick="GoToHome">Home</button>
    </section>
</main>




@code {
    [Inject] protected IJSRuntime js { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("introAnimations.runAll");
        }
    }

    protected async Task GoToHome()
    {
        await js.InvokeVoidAsync("headerAnimation.hideHeader");
        await js.InvokeVoidAsync("headerAnimation.hideMain");
        await Task.Delay(500);
        Navigation.NavigateTo("/Home");
    }
}
